.table {
  /* display: flex; */
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0;
  border: solid 1px #e8e8e8;
  border-radius: 3px;
  box-sizing: border-box;
}

.table__row {
  display: flex;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e8e8e8;
}
.table__row:last-child {
  border: 0;
}

.table__column {
  display: flex;
  margin: 0;
  padding: 0;

}

.table__cell {
  display: flex;
  margin: 0;
  padding: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  letter-spacing: -0.04em;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
}

.table__field {
  display: flex;
  margin: 0;
  padding: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  letter-spacing: -0.04em;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-top: 15px;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  /* justify-content: center; */
}

.table__header {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  border-bottom: 1px solid #e8e8e8;
}
