.button {
  margin: 10px 0 0;
  padding: 0;
  width: 100%;
  height: 45px;
  border: 1px solid #3456f3;
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.pagination__menu {
  display: flex;
  flex-direction: row;
  height: 30px;
}

.pagination {
  margin: 10px 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination__select {
  width: 150px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.pagination__text {
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.select-pagination {
  padding: 0;
  margin: 0;
  height: 30px;
}

.button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 319px) {
  .button {
    max-width: 599px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .button {
    max-width: 599px;
  }
}

.sr-only {
  clip: rect(0,0,0,0);
  border-width: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}


@media (min-width: 640px){
  .select-button {
    font-size: .875rem;
    line-height: 1.25rem;
  }
}

.pr-2 {
  padding-right: 0.5rem;
}
.items-center {
  align-items: center;
}
.flex {
  display: flex;
}
.right-0 {
  right: 0;
}
.inset-y-0 {
  bottom: 0;
  top: 0;
}
.absolute {
  position: absolute;
}
.pointer-events-none {
  pointer-events: none;
}


.w-\[150px\] {
  width: 150px;
}

@media (min-width: 640px) {
  .select-options {
    font-size: .875rem;
    line-height: 1.25rem;
}}

.btn-icon, .select-options {
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
}
.z-40 {
  z-index: 40;
}


menu, ol, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.text-gray-900 {
  --tw-text-opacity: 1;
  color: rgb(17 24 39/var(--tw-text-opacity));
}
.pr-4 {
  padding-right: 1rem;
}
.pl-10 {
  padding-left: 2.5rem;
}
.py-2 {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.cursor-pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}

.pl-3 {
  padding-left: 0.75rem;
}
.items-center {
  align-items: center;
}
.flex {
  display: flex;
}
.left-0 {
  left: 0;
}
.inset-y-0 {
  bottom: 0;
  top: 0;
}
.absolute {
  position: absolute;
}
.w-5 {
  width: 1.25rem;
}

.h-5 {
  height: 1.25rem;
}
audio, canvas, embed, iframe, img, object, svg, video {
  display: block;
  vertical-align: middle;
}
.font-medium {
  font-weight: 500;
}
.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.block {
  display: block;
}

@media (min-width: 640px) {
    .sm\:hidden {
      display: none;
  }
}

.justify-between {
    justify-content: space-between;
}
.flex-1 {
    flex: 1 1 0%;
}
.flex {
  display: flex;
}

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.flex {
  display: flex;
}

.top-full {
  top: 100%;
}

.justify-between {
  justify-content: space-between;
}

@media (min-width: 640px) {
  .sm\:hidden {
    display: none;
}}
.justify-between {
  justify-content: space-between;
}
.flex-1 {
  flex: 1 1 0%;
}
.flex {
  display: flex;
}
