html {
  --background: #fafafa;
  --background-container: #fff;
  --background-board: #fff;
  --color: #000;
  --color-link: #000;
  --background-profile-button: #fff;
  --border-color: #bfbfbf;
  --background-card: #fff;
  --background-cards: #f4f4f4;
  --color-error: #ee3465;
  --promo-signup-button: #000;
  --promo-signin-button-bg: #3456f3;
  --promo-signin-button-color: #fff;
}

html[data-theme="dark"] {
  --background: #161616;
  --background-container: #202124;
  --background-board: #222;
  --color: #d6d6d6;
  --color-link: #bfbfbf;
  --background-profile-button: #bfbfbf;
  --border-color: #5a5a5a;
  --background-card: #323232;
  --background-cards: #222;
  --color-error: #ee3465;
  --promo-signup-button: #bfbfbf;
  --promo-signin-button-bg: #3456f3;
  --promo-signin-button-color: #fff;
}

.root {
  --width-none: 100%;
  --width-sm: 640px;
  --width-md: 768px;
  --width-lg: 1024px;
  --width-xl: 1280px;
  --width-2xl: 1536px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  max-width: var(--width-xl);
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  background: var(--background);
  color: var(--color);
  align-self: center;
}
