.select-button {
  cursor: default;
  position: relative;
  text-align: left;
  width: 100%;
  border-radius: 10px;
  background-color: #f4f4f4;
  border: #f4f4f4 1px solid;
  margin: 10px 0 0;
  padding: 0 20px;
  height: 46px;
}

.select-options {
  --tw-bg-opacity: 1;
  --tw-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -4px rgba(0,0,0,.1);
  --tw-ring-opacity: 0.05;
  border-radius: 0.375rem;
  font-size: 14px;
  line-height: 1.5rem;
  margin-top: 0.25rem;
  max-height: 15rem;
  overflow: auto;
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
  position: absolute;
  width: 100%;
}
