.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 74px;
  width: 100%;
  margin: 0;
  padding: 0 70px;
  box-sizing: border-box;
  z-index: 1000;
}

@media screen and (max-width: 319px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header {
    padding-left: 14px;
    padding-right: 14px;
  }
}

@media screen and (min-width: 480px) and (max-width: 639px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1535px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (min-width: 1536px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
