.button_black {
  background-color: #000000;
  border: 1px solid #000000;
}

/* .button_block:hover {
  opacity: 0.8;
}

@media screen and (max-width: 319px) {
  .button_block {
    max-width: 599px;
    margin-top: 10px;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .button_block {
    max-width: 599px;
  }
} */
