.error__code {
  margin: 0 auto;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 169px;
  text-align: center;
  color: var(--error__code_main_color);
  width: 400px;
  height: 169px;
}
