.checkbox__checkmark_black {
  border: 1px solid #000000;
}

.checkbox__checkmark_black:before {
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background-color: #000000;
}

.checkbox__checkmark_blackr:before {
  content: "";
  position: absolute;
  display: none;
}
