.navigation__signup {
  padding: 0 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: var(--promo-signup-button);
}

@media screen and (min-width: 100px) and (max-width: 479px) {
  .navigation__signup {
    padding: 0 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .navigation__signup {
    padding: 0 28px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
}
