.navigation__button {
  display: none;
  background-image: url("../../../images/burger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fafafa;
  margin: 0;
  padding: 0;
  border: 0;
  cursor: pointer;
}

@media screen and (max-width: 319px) {
  .navigation__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    background-size: 20px;
  }
}

@media screen and (min-width: 320px) and (max-width: 479px) {
  .navigation__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28px;
    width: 28px;
    background-size: 20px;
  }
}

@media screen and (min-width: 480px) and (max-width: 768px) {
  .navigation__button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    background-size: 30px;
  }
}
